=form_for [@group] do |f|
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      =f.label :グループ名, class: 'chat-group-form__label'
    .chat-group-form__field--right
      =f.text_field :name, placeholder: "グループ名を入力してください", class: 'chat-group-form__input'
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      =f.label :チャットメンバーを追加, class: 'chat-group-form__label'
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        / (別ブランチで作成)=f.text_field :, placeholder: "追加したいユーザー名を入力してください", class: 'chat-group-form__input'
      #user-search-result
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      =f.label :チャットメンバー, class: 'chat-group-form__label'
    .chat-group-form__field--right
      #chat-group-users
        #chat-group-user-22.chat-group-user.clearfix
          /別ブランチで実装
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit "SAVE", class: "chat-group-form__action-btn", disable_with: "save"

