%body
  %header
    .heading
  .contents
    .left-content
      .top-left-content.clearfix
        %p
          =current_user.nickname
          =link_to fa_icon("edit 2x"), new_group_path
          =link_to fa_icon("cog 2x"), edit_user_registration_path
      .bottom-left-content
        %h2 Sample Group1
        %p まだメッセージがありません。
        %h2 Sample Group2
        %p まだメッセージがありません。
        %h2 Sample Group3
        %p まだメッセージがありません。

    .right-content
