#flash_alert {
  background-color: red;
  color :#EFFFFF;
  text-align: center;
  font-size: 16px;
}

#flash_notice {
  background-color: $skyblue;
  color :#EFFFFF;
  text-align: center;
  font-size: 16px;
}
#layout-alert{
  background-color: red;
  color :#EFFFFF;
  text-align: center;
  font-size: 16px;
}
